In [1]:
print('Hello World')

Hello World

In [3]:
print('Hello world')

Hello world

In [16]:
message = "hello, python"
print(message)

hello, python

In [17]:
num1, num2 = 1, 2
print(num1, num2)

1 2

In [19]:
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1**2)
print(num1//num2)
print(num1%num2)

3
-1
2
0.5
1
0
1

In [41]:
print(num1)
num1 = num1 +1
print(num1)
num1 += 1
print(num1)

28
29
30

In [43]:
print(type(num1))

<class 'int'>

In [44]:
message = "hello, python"
print(message)

hello, python

In [45]:
multiline = """
hello,
python,
"""
print(multiline)

hello,
python,

In [50]:
w1, w2 = "hello", "python"
w3 = w1 + w2
print(w1, w2)
print(w3)
print(w1.upper())
print(w1.title())
print("hey jude".replace('hey', 'hello'))

hello python
hellopython
HELLO
Hello
hello jude

In [51]:
name = '손준오'
email = "안녕하세요. {0}님."

print(email.format(name))

안녕하세요. 손준오님.

In [52]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [54]:
"8".zfill(5)

'00008'

In [55]:
help("8".zfill(5))

No Python documentation found for '00008'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [56]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [65]:
w1, w2 = 'hello', 'python'
print(w1, w2)
print("안녕하세요")

hello python
안녕하세요

In [67]:
t = True
f = False

In [73]:
print(t and f)
print(t or f)
print(w1)
print(w1 is None)

False
True
hello
False

In [2]:
#mail message 내용을 message 변수에 담는다.
message="""
안녕하세요.{0}님, 파이썬 수업에 오신걸 환영합니다.
오늘은 첫째날입니다. {0}님의 메일주소 {1}로 학습내용을 보내드립니다.
"""
#보낼사람의 이름과 이메일주소를 입력을 받는다.
name = input("누구에게 보낼 메일인가요?")
email = input("메일주소를 입력해주세요")

message_vip ="""
안녕하세요, VIP {0}님, 파이썬 수업에 오신걸 환영합니다.
오늘은 첫째날입니다. 회원님에게 20% 할인 상품권을 지급해 드렸습니다.
{0}님의 메일주소 {1}로 학습내용을 보내드립니다.
"""

#메일 내용을 완성해서 출력한다.
complete = message.format(name, email)
print(complete)

안녕하세요.손준오님, 파이썬 수업에 오신걸 환영합니다.
오늘은 첫째날입니다. 손준오님의 메일주소 bodalbuddy@naver.com로 학습내용을 보내드립니다.

In [1]:
num = 1

while num < 10:
    print("{0}번째 메세지입니다.".format(num))
    num += 1
    
print("{0}번째 종료되었습니다.".format(num))

1번째 메세지입니다.
2번째 메세지입니다.
3번째 메세지입니다.
4번째 메세지입니다.
5번째 메세지입니다.
6번째 메세지입니다.
7번째 메세지입니다.
8번째 메세지입니다.
9번째 메세지입니다.
10번째 종료되었습니다.

In [5]:
dir(list.append)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__objclass__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [8]:
my_list=[1,2,3,4,5,6,7]
print(dir(my_list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
my_list=[1,2,3,4,5,6,7]

new_list1=[]
for i in my_list:
    if i*2%3 == 0:
        new_list1.append(i*2)
print(new_list1)

for idx, i in enumerate(my_list):
    print(idx, i)
    
for i in my_list[-3:]:
    print(i)

[6, 12]
0 1
1 2
2 3
3 4
4 5
5 6
6 7
5
6
7

In [18]:
my_list=[1,2,3,4,5,6,7]

new_list = [i*2 for i in my_list]
print(new_list)

new_list = [i*2 for i in my_list if i*2%3 == 0]
print(new_list)

[2, 4, 6, 8, 10, 12, 14]
[6, 12]

In [73]:
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]

# score에 들어있는 element의 갯수를 구하시오
print(len(score))
# 첫번째와 다섯번째 element의 값을 출력하시오.
print(score[0])
print(score[4])
# 마지막에 숫자 80을 추가하시오
score.append(80)
print(score)
# 첫번째부터 3번째까지의 element를 slice하세요.
print(score[0:3])
# score에서 음수를 제거한 리스트를 score01 변수에 담으세요. 
# score01=[]
# for i in score:
#     if i>=0: score01.append(i)
# print(score01)
score01 = [i for i in score if i>=0]
print(score01)
# score01에서 100보다 큰 수를 제외한 리스트를 score02 변수에 담으세요.
# score02=[]
# for i in score01:
#     if i<100: score02.append(i)
# print(score02)
score02 = [i for i in score01 if i <= 100]
print(score02)

# score02 리스트의 element들 합과 평균을 구하시요
# for i in score02:
#     sum = 0
#     sum = sum + i
# print(sum)

print(sum(score02), sum(score02) / len(score02))
# print(sum/len(score02))
#sum(score02)
#sum(score02)/len(score02)
# score02 리스트 각 element의 값을 10으로 나눈 값을 갖는 리스트 score03을 만드세요.
score03=[i/10 for i in score02]
print(score03)

9
75
-77
[75, 46, 93, -82, -77, 130, 100, 75, -10, 80]
[75, 46, 93]
[75, 46, 93, 130, 100, 75, 80]
[75, 46, 93, 100, 75, 80]
469 78.16666666666667
[7.5, 4.6, 9.3, 10.0, 7.5, 8.0]

In [74]:
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]
sum(score)

350

In [77]:
성적표=[
    ['이숙번', 30, 50, 70],
    ['강두루', 40, 60, 80],
    ['변아영', 60, 70, 80]
]

성적표_dict = {i[0]: i[1:] for i in 성적표}
print(성적표_dict)

{'이숙번': [30, 50, 70], '강두루': [40, 60, 80], '변아영': [60, 70, 80]}

In [81]:
stu01 = {
    "no": 1,
    "name": "Geoffery Hinton",
    "points": [92, 96, 98]
}
stu02 = {
    "no": 2,
    "name": "Yann Lecun",
    "points": [58, 64, 100]
}
stu03 = {
    "no": 3,
    "name": "Yoshua Bengio",
    "points": [88, 84, 92]
}
stu04 = {
    "no": 4,
    "name": "Andrew Ng",
    "points": [75, 85, 100]
}

stu = [stu01, stu02, stu03, stu04]

# 각 학생들의 번호에 10씩 더하세요.
for i in stu:
    i['no'] = i['no']+10
print(stu)

# 각 학생별로 점수 합계를 구하세요.
# 'sum' 항목을 추가하여 위에서 구한 결과를 넣으세요.

# 아래 out 문자열을 이용하여 학생들의 번호, 이름, 평균점수를 출력하시오.
out = "번호: {0}, 이름: {1}, 평균점수: {2:.2f}"

# 모든 학생의 key: value를 출력하는 코드를 작성하세요.

[{'no': 11, 'name': 'Geoffery Hinton', 'points': [92, 96, 98]}, {'no': 12, 'name': 'Yann Lecun', 'points': [58, 64, 100]}, {'no': 13, 'name': 'Yoshua Bengio', 'points': [88, 84, 92]}, {'no': 14, 'name': 'Andrew Ng', 'points': [75, 85, 100]}]

In [97]:
import random
#로또번호 만들기 로직

#lottos 변수에 빈 리스트를 지정
lottos=[]
#반복 lottos가 6개가 아닌 동안
while len(lottos) < 6:
    #렌덤하게 숫자를 만들어요. 1~46 사이의 임의의 수를 변수 new에 담아요
    new = random.randint(1,46)
    if new not in lottos:
        lottos.append(new)
    
    # 만약 new가 lottos에 없으면,
        #lottos에 new를 추가합니다.
lottos.sort()
print(lottos)

[5, 16, 22, 23, 28, 45]